{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <p>This site was developed by Insight Data Engineering Fellow Romeo Alexander in January 2020. Queries are based on reddit comment data from 2006 to 2016, consisting of 17 million reddit accounts and 300,000 subreddits. An updated version of this site with data from 2017 to 2019 is currently in development. Data is stored in an Amazon S3 data lake, cleaned and processed with Apache Spark, and stored for queries in Neo4j.
     </p>
   </div>
{% endblock %}
